#container {
    background-color: black;
    height: 200px;
    width: 50px;
    padding: 10px 5px;
}
.ljus {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 20px auto;
    background-color: darkgray;
}
/*
Mindre än 700px röd
Mellan 600px och 900px gul
Större än 800 px grön
*/
@media screen and (max-width: 700px) {
    #rod {
        background-color: red;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    #orange {
        background-color: orange;
    }
}
@media screen and (min-width: 800px) {
    #gron {
        background-color: green;
    }
}
