.grid-foralder {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: lightblue;
    padding: 10px;
    grid-row-gap: 10px;
    grid-column-gap: 15px;
}
.grid-foralder div {
    background-color: lightgreen;
    border: 1px solid blue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
