#flexbox {
    display: flex;
    flex-direction: row;
    background-color: lightblue;
    border: 1px solid blue;
    justify-content: space-between;
}
#flexbox > div {
    border: 1px solid black;
    background-color: lightgreen;
    margin: 3px;
    flex-grow: 1;  
    text-align: center;
}